{%- set siteTitle = '11ty starter project with hgrid-css' -%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.title }} | {{ siteTitle }}</title>
  <meta name="description" content="{{ meta.description }}">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="image/png" href="/assets/img/icon.png">
</head>