---
layout: layout/base.njk
meta: { 
  title: Front page,
  description: Test setup of 11ty with hgrid-css
}
title: Starter project with 11ty and hgrid-css
---
<main class="container-max padding-80 tablet-portrait-pr-30 tablet-portrait-pl-30">
  <h1 class="text-center">{{ title }}</h1>
  <div class="row-block text-center mt-60">
    <h3>Sass compilation, autoprefixer and minification.</h3>
  </div>
  <div class="row-block text-center mt-60">
    <h5>
      Docs: 
      <a href="https://hgrid.io/documentation/integrate/#11ty" target="_blank" rel="noopener">
        hgrid.io
      </a>
    </h5>
    <h5>
      Eleventy: 
      <a href="https://11ty.dev" target="_blank" rel="noopener">
        11ty.dev
      </a>
    </h5>
  </div>
</main>
